{% extends "base.html" %}
{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="pt-10 mt-6"> 
        <div class="fixed top-1/2 right-0 bg-red-700 text-white block transform origin-bottom-right -rotate-90 ">
            <a href="https://www.instagram.com/_vibehome/?next=%2F" target="_blank">
                <span class="text-center italic ">ODWIEDŹ NASZEGO<br><span class="pl-6">INSTAGRAMA</span></span>
            </a>
        </div>
        <span class="text-2xl text-blue-950 font-bold p-8">DLACZEGO <span class="underline text-blue-950">VIBEHOME</span></span>
        <div class="flex justify-between">
            <p class="text-left text-blue-950 p-8 text-lg">VibeHome to firma specjalizująca się w nieruchomościach, która oferuje swoim klientom kompleksową obsługę. Współpracujemy z notariuszami i oferujemy profesjonalne wsparcie w procesie zakupu i sprzedaży nieruchomości. Nasze mieszkania są starannie wyselekcjonowane i spełniają najwyższe standardy. Zespół doświadczonych specjalistów zapewnia profesjonalną wycenę, przygotowanie oferty oraz pomoc w znalezieniu odpowiedniego kupca lub wymarzonego miejsca do życia. Dzięki naszemu doświadczeniu i wiedzy rynkowej, pomagamy w znalezieniu najlepszej oferty dla sprzedającego lub kupującego, co pozwala na zaoszczędzenie czasu i pieniędzy. Jesteśmy pasjonatami pomagającymi ludziom w znalezieniu wymarzonego miejsca do życia lub w sprzedaży ich nieruchomości. Skontaktuj się z nami, a pomożemy Ci w realizacji Twoich marzeń.</p>

            <img class="max-w-xs p-8 mobile-hidden" src="{% static 'images/ONAS.jpg' %}" alt="image description">
        </div>
    </div>
{% endblock content %}
